@font-face {
	font-family: "HelveticaNeueCyr";
	src:
		local("./fonts/HelveticaNeueCyr.otf") format("otf");
}

@main-text-color: #484848;
@main-text-color-light: #8a8a8a;
@menu-item-color: #5f6973;
@count-menu-items: 5;
@orange: #eb5825;

body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeueCyr";
	font-size: 14px;
	color: @main-text-color;
	background-color: #E1F0EE;
}

a {
	color: #f36240;
}

.wrapper {
	max-width: 1145px;
	margin: 0 auto;
}

.header-top {
	background-color: white;
	padding-bottom: 20px;
	color: #4b4b4b;

	div {
		display: inline-block;
	}

	&__logo {
		padding-left: 2.1%;
	}

	&__calculate {
		padding-left: 25.85%;
		font-size: 23px;
		white-space: nowrap;
	}

	&__contacts {
		padding-left: 7.42%;
		font-size: 16px;
		text-align: right;

		& span {
			font-size: 31px;
		}
	}
}

.header-menu {
	background-color: white;

	ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		display: block;
		padding: 13px 0;
		width: 100% / @count-menu-items;
		font-size: 24px;
		text-align: center;
		border-right: 1px solid @menu-item-color;

		a {
			text-decoration: none;
			color: @menu-item-color !important;
		}

		&:last-child {
			border-right: none;
		}

		&_active {
			background-color: #7bc3d5;

			a {
				color: white !important;
			}
		}

		&:hover {
			background-color: #7bc3d5;

			a {
				color: white !important;
			}
		}
	}
}

.page-header {
	&__slogan {
		color: #4b4b4b;
		padding-bottom: 40px;

		h1 {
			margin: 40px 0 0 0;
			font-size: 64px;
			font-weight: 400;
		}

		h2 {
			margin: 0;
			font-size: 26px;
			font-weight: 400;
		}
	}
}

.recommends {
	display: block;
	float: left;
	margin-right: 15px;
	width: 25%;
	background-color: white;
	border-radius: 5px; 

	p {
		color: #4b4b4b;
		font-size: 20px;
		padding-left: 24px;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	&__item {
		padding: 10px 0 10px 24px;

		a {
			color: @main-text-color-light;
			font-size: 16px;
		}

		a:hover {
			color: #f36240;
		}
	}
}

.content-wrapper {
	float: right;
	width: 72%;
	border-radius: 5px;
}

.product {
	margin-bottom: 24px;
	padding: 24px;
	padding-bottom: 70px;
	background-color: white;
	border-radius: 5px;

	figure {
		float: left;
		width: 33%;
	}

	figcaption {
		padding-top: 20px;
		text-align: center;
		font-size: 18px;
		font-weight: lighter;
		color: @main-text-color;
	}

	h2 {
		margin: 0;
		font-size: 26px;
		font-weight: 400;
		color: @main-text-color;
	}

	p {
		color: @main-text-color;
	}
}

.features {
	ul {
		li {
			color: @orange;
			padding: 5px 0 5px -10px;	

			span {
				color: @main-text-color;
			}
		}
	}
}

.window-color {
	h3 {
		font-weight: 400;
	}

	.color-palette {
		&__item_chosen {
			display:inline-block;   
			position:relative;

			&:before {
				content: "✔";
				position: absolute;
				top: 0px;
				left: 17px;
				font-size: 40px;
				color: white;
			}
		}
	}
}

.window-price {
	margin-bottom: 40px;
	div {
		display: inline-block;
		height: 45px;
		padding: 0 2%;
		vertical-align: middle;
		border-right: 1px solid #dcdcdc;

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}

	&__price {
		padding-left: 0 !important;
		font-size: 18px;
		line-height: 14px;

		a {
			text-decoration: none;
			font-weight: bold;
			color: #eb5825;
			border-bottom: 1px dashed @orange;
		}
	}

	&__discount {
		color: @main-text-color-light;
		text-align: center;

		span {
			font-size: 18px;
			font-weight: bold;
			color: @orange;
		}
	}

	&__period {
		color: @main-text-color-light;
		text-align: right;

		span:nth-child(2) {
			font-weight: bold;
			color: @orange;
		}

		span:last-child {
			color: @main-text-color;
		}
	}
}

.btn {
	display: inline-block;
	max-width: auto;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 200;
	color: white;
	background-color: @orange;
	border-radius: 5px;
	text-decoration: none;
}

.callback {
	display: block;
	margin-top: 20px;
	color: @main-text-color-light;
}

.faq {
	margin-bottom: 30px;
	padding: 30px 24px 45px 24px;
	background-color: white;
	border-radius: 10px;

	h2 {
		font-size: 26px;
		font-weight: 400;
	}

	.faq-1 {
		div {
			margin: 15px 20px;
			position: relative;
			padding-left: 60px;
		}

		.icon {
			position: absolute;
			margin: 0;
			top: 0;
			left: -15px;
			width: 60px;
			height: 60px;
		}

		&__argument-1 .icon {
			background: url("/images/sprite-layers.png") no-repeat 0 0;
		}

		&__argument-2 .icon {
			background: url("/images/sprite-tree.png") no-repeat 0 0;
		}
	}

	.faq-2 {
		div {
			position: relative;
			margin: 15px 20px;
			padding-left: 30px;
		}

		.order {
			display: block;
			position: absolute;
			margin: 0;
			padding: 0;
			top: 0;
			left: -20px;
			width: 30px;
			height: 30px;
			font-size: 20px;
			line-height: 30px;
			text-align: center;
			border: 2px solid @main-text-color;
			border-radius: 50%;
		}

		&__argument-2 .order {
			top: 15px;
		}
	}
}

.reviews {
	margin-bottom: 120px;

	h2 {
		font-size: 26px;
		font-weight: 400;
	}

	.review-window {
		padding: 35px 24px;
		background-color: white;
		border-radius: 10px;

		&__author {
			font-size: 16px;
			padding-bottom: 5px;

			&::after {
				content: ",";
			}
		}

		&__author-contract {
			color: @main-text-color-light;
		}

		&__create-date {
			color: @main-text-color-light;
		}

		&__rate {
			padding-bottom: 5px;

			.star {
				font-size: 22px;
				font-weight: bold;
				color: #f7cd07;
				display: inline-block;
			}
		}

		&__full-text {
			display: block;
			margin-bottom: 30px;
			padding-top: 5px;
			font-size: 16px;

			a {
				text-decoration: none;
				border-bottom: 1px dashed @orange;
			}
		}
	}
}

.clearfix:after {
	 content: " ";
	 visibility: hidden;
	 display: block;
	 height: 0;
	 clear: both;
}

.page-footer {
	background-color: #a5b7c1;
	box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.footer-menu {
	max-width: 1145px;
	margin: 0 auto;
	padding: 40px 0;

	ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		display: block;
		padding: 13px 0;
		width: 100% / @count-menu-items;
		font-size: 24px;
		text-align: center;
		border-right: 1px solid @menu-item-color;

		a {
			text-decoration: none;
			color: @menu-item-color !important;
		}

		&:last-child {
			border-right: none;
		}
	}
}

.footer__contacts {
	max-width: 1145px;
	margin: 0 auto;
	padding-bottom: 30px; 
	color: black;

	span {
		font-size: 26px;
	}
}